/*.sdf
/ipch
/*.opensdf
/*.psess
/[Bb]in
/obj
/[Dd]ebug
/[Rr]elease
/*.ReSharper.user
/*.user
/*.aps
/*.eto
/*.sln.DotSettings
CMakeFiles/
Common.Tests/Common.Tests.dir/
Common/Common.dir/
DatabaseToJps/DatabaseToJps.dir/
Greis.Tests/Greis.Tests.dir/
Greis/Greis.dir/
JpsToDatabase/JpsToDatabase.dir/
ThirdParty/
jpslogd/jpslogd.dir/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
Common.Tests/Common.Tests.sln
Common.Tests/Common.Tests.vcxproj
Common.Tests/Common.Tests.vcxproj.filters
Common.Tests/RUN_TESTS.vcxproj
Common.Tests/RUN_TESTS.vcxproj.filters
Common/Common.sln
Common/Common.vcxproj
Common/Common.vcxproj.filters
Common/RUN_TESTS.vcxproj
Common/RUN_TESTS.vcxproj.filters
DatabaseToJps/DatabaseToJps.sln
DatabaseToJps/DatabaseToJps.vcxproj
DatabaseToJps/DatabaseToJps.vcxproj.filters
DatabaseToJps/RUN_TESTS.vcxproj
DatabaseToJps/RUN_TESTS.vcxproj.filters
Greis.Tests/Greis.Tests.sln
Greis.Tests/Greis.Tests.vcxproj
Greis.Tests/Greis.Tests.vcxproj.filters
Greis.Tests/RUN_TESTS.vcxproj
Greis.Tests/RUN_TESTS.vcxproj.filters
Greis/Greis.sln
Greis/Greis.vcxproj
Greis/Greis.vcxproj.filters
Greis/RUN_TESTS.vcxproj
Greis/RUN_TESTS.vcxproj.filters
JpsToDatabase/JpsToDatabase.sln
JpsToDatabase/JpsToDatabase.vcxproj
JpsToDatabase/JpsToDatabase.vcxproj.filters
JpsToDatabase/RUN_TESTS.vcxproj
JpsToDatabase/RUN_TESTS.vcxproj.filters
RUN_TESTS.vcxproj
RUN_TESTS.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
googletest.vcxproj
googletest.vcxproj.filters
jpslogd/jpslogd.sln
jpslogd/jpslogd.vcxproj
jpslogd/jpslogd.vcxproj.filters
jpsutils.sln
Win32/
Generator/TestResults/
Generator/packages/
jpsutils.v12.suo
build/
bin
obj
*.suo
.idea/
Platform.Tests/Platform.Tests.dir/
Platform/Platform.dir/
Platform.Tests/Platform.Tests.sln
Platform.Tests/Platform.Tests.vcxproj
Platform.Tests/Platform.Tests.vcxproj.filters
Platform/Platform.vcxproj
Platform/Platform.vcxproj.filters
