<?xml version="1.0" encoding="utf-8" ?> 
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="baseFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:upperCase=True} [${threadid}] ${message}${newline}${onexception:EXCEPTION DETAILS\:${newline}${exception:format=ToString}}" />
    <targets>
        <target name="logFile" xsi:type="File" layout="${baseFormat}" encoding="utf-8"
                archiveFileName="${specialfolder:folder=ApplicationData}\ifz\Logs\ifz.jps.codegen.{###}.log"
                archiveAboveSize="8388608" archiveNumbering="Sequence" maxArchiveFiles="10"
                fileName="${specialfolder:folder=ApplicationData}\Comindware\Logs\ifz.jps.codegen.log" />
        <target name="console" xsi:type="Console" layout="${baseFormat}" />
    </targets>
    <rules>
        <logger name="*" minLevel="Info" writeTo="console" />
        <logger name="*" minLevel="Trace" writeTo="logfile" />
    </rules>
</nlog>
